.main {
    position: absolute;
    width: 600px;
    top: 246px;
    bottom: 40px;
    padding-top: 48px;
    display: flexbox;
    flex-direction: column;
    overflow-y: scroll;

    scrollbar-width: thin;
    scrollbar-color: #6969dd #e0e0e0;
}
