
.main {
    margin-bottom: 10px;
}
.main:last-child {
    margin-bottom: 0;
}
.ingredientWrapper {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: row;
}

.dragIconWrapper {
    padding-right: 4px;
}