.main {
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    border: none;
}
.main:hover {
    cursor: pointer;
}
.iconWrapper {
    display: inline-block;
    padding-right: 8px;
}
.textWrapper {
    display: inline-block;
    color: #8585AD;
}

.active {
    color: #F2F2F3;
}
