.nav {
  width: 1280px;
  background-repeat: no-repeat;
  background-position: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: left;
}
.rightItems{
  display: flex;
  flex-grow: 100;
  justify-content: right;
}

