.nav {
  width: calc(100% + 80px);
  margin-top: 0;
  margin-bottom: 0;
  margin-left: -40px;
  margin-right: auto;
  grid-area: header;
  background-repeat: no-repeat;
  background-position: 50%;
  display: flex;
  justify-content: left;
  align-content: center;
}
.rightItems{
  display: flex;
  flex-grow: 100;
  justify-content: right;
}

